// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets and Small laptops
@include mediaMd {
  main {
    text-align: center;
    align-items: center;
    padding: 2rem;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;

    &#home h1 {
      margin-top: 10vh;
    }
  }
}
